<div class="list-group-item list-group-item-action  flex-column align-items-start" (click)="onClick($event)">
	<div class="d-flex justify-content-between">
		<div class="float-left">
			<img src="./icons/{{ico}}.png" alt="xxx" /> {{folder.name}}
			<!--:: {{folder.ParentId}} ::-->
			<!--::{{folder.type}} {{folderId}}-->
			<!--{{folder.NodeName}}::-->
			<!--{{folder.id}}-->

		</div>
		<div class="float-right">
			<span *ngIf="folder.type != 4" class="badge badge-{{inError}} badge-pill">{{currentValue}}</span>
			<img src="./icons/{{boolIco}}.png" alt="running" title="is running" (click)="onBulbClick($event)" *ngIf="hasBoolValue == true" />
			<button type="button" class="btn-sm btn-info btn-secondary" (click)="onEdit($event)">
				Edit
			</button>
		</div>
	</div>
</div>