<div class="list-group-item list-group-item-action justify-content-between" (click)="onClick($event)">
		<div class="float-left">
			<img src="./icons/{{ico}}.png" alt="xxx" /> {{folder.name}}
			<!--::{{folder.type}} {{folderId}}-->
			<!--{{folder.NodeName}}::-->
			<!--{{folder.id}}-->

		</div>
		<div class="float-right">
			<span *ngIf="folder.type != 4" class="badge badge-{{inError}} badge-pill">{{folder.value}}</span>
			<img src="./icons/{{boolIco}}.png" alt="X" *ngIf="folder.type == 4" />
			<button type="button" class="btn-sm btn-info btn-secondary" (click)="onEdit($event)">
				Edit
			</button>
		</div>
</div>