<a class="card-header list-group-item list-group-item-action justify-content-between" role="tab" id="heading{{device.addressName}}"
  data-toggle="collapse" data-parent="#devices" aria-expanded="false" aria-controls="collapse{device.id}C" href="#collapse{{device.id}}C">
  <div class="d-flex justify-content-between">
    {{device.name}}
    <div class="float-right">
      <button type="button" class="btn-sm btn-info btn-secondary" (click)="onEdit($event)" *ngIf="addMode != true">
        Edit
      </button>
    </div>
  </div>
</a>
<div id="collapse{{device.id}}C" class="collapse" role="tabpanel" aria-labelledby="heading">
  <div class="list-group">
    <folder *ngFor="let folder of device.tags" [folderitem]='folder' [deviceid]='device.id' [addMode]='addMode'
      (addClicked)='handleAddClick($event)'></folder>
  </div>
</div>

<!--<div class="list-group-item list-group-item-action" (click)="onClick($event)">
  <img src="./icons/xxx.png" alt="xxx" /> {{device.Name}}{{strDevice}}
  <span class="float-sm-right float-md-right float-lg-right float-xl-right">&nbsp;</span>
  <img src="./icons/{{boolIco}}.png" alt="X" *ngIf="folder.type == 4" class=" float-sm-right float-md-right float-lg-right float-xl-right" />
  <span *ngIf="folder.type != 4" class="tag tag-{{inError}} tag-pill float-xs-right">{{folder.value}}</span>
</div>-->