<div class="row">
    <div class="col-xl-8">
        <nav class="navbar navbar-dark bg-inverse">
            <span class="navbar-brand">HomeIS</span>
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Navigation</a>
                    <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
                        <button class="dropdown-item" routerLink="/dataitems" routerLinkActive='active'>Datové body</button>
                        <button class="dropdown-item" routerLink="/folders" routerLinkActive='active'>Složky hodnot</button>
                        <button class="dropdown-item"  routerLink="/login" routerLinkActive='active'>Přihlášení</button>
                        <button class="dropdown-item"  routerLink="/modbus" routerLinkActive='active'>Nastavení Modbus</button>
                    </div>
                </li>
            </ul>
            <form class="form-inline float-xs-right">
                <input class="form-control" type="text" placeholder="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </nav>
    </div>
</div>