<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
            <span class="navbar-brand">HomeIS</span>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Navigation</a>
                        <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
                            <button class="dropdown-item" routerLink="/dataitems" routerLinkActive='active'>Datové body</button>
                            <button class="dropdown-item" routerLink="/folders" routerLinkActive='active'>Složky hodnot</button>
                            <button class="dropdown-item" routerLink="/login" routerLinkActive='active'>Přihlášení</button>
                            <button class="dropdown-item" routerLink="/modbus" routerLinkActive='active'>Nastavení Modbus</button>
                        </div>
                    </li>
                </ul>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</div>