<form>
  <div class="container">
    <div class="form-group row">
      <div class="col-12">
        <h2>Datové body</h2>
      </div>
      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="onNewDevice()"  *ngIf="addMode == false">Nový datový bod</button>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <input class="form-control" type="text" placeholder="Filter items...">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <div class="list-group" id="devices">
          <devicesItem *ngFor="let device of devices" [device]='device' [addMode]='addMode' (addClicked)='handleAddClick($event)'></devicesItem>
        </div>
      </div>
    </div>
  </div>
</form>
<!--<span>{{strDevice}}</span>-->